# Final Project Phase 2 Summary
This Jupyter Notebook (.ipynb) will serve as the skeleton file for your submission for Phase 2 of the Final Project. Answer all statements addressed below as specified in the instructions for the project, covering all necessary details. Please be clear and concise in your answers. Each response should be at most 3 sentences. Good luck! <br><br>

Note: To edit a Markdown cell, double-click on its text.

## Jupyter Notebook Quick Tips
Here are some quick formatting tips to get you started with Jupyter Notebooks. This is by no means exhaustive, and there are plenty of articles to highlight other things that can be done. We recommend using HTML syntax for Markdown but there is also Markdown syntax that is more streamlined and might be preferable. 
<a href = "https://towardsdatascience.com/markdown-cells-jupyter-notebook-d3bea8416671">Here's an article</a> that goes into more detail. (Double-click on cell to see syntax)

# Heading 1
## Heading 2
### Heading 3
#### Heading 4
<br>
<b>BoldText</b> or <i>ItalicText</i>
<br> <br>
Math Formulas: $x^2 + y^2 = 1$
<br> <br>
Line Breaks are done using br enclosed in < >.
<br><br>
Hyperlinks are done with: <a> https://www.google.com </a> or 
<a href="http://www.google.com">Google</a><br>

# Data Collection and Cleaning
You are required to provide data collection and cleaning for the three (3) minimum datasets. Create a function for each of the following sections that reads or scrapes data from a file or website, manipulate and cleans the parsed data, and writes the cleaned data into a new file. 

Make sure your data cleaning and manipulation process is not too simple. Performing complex manipulation and using modules not taught in class shows effort, which will increase the chance of receiving full credit.

## Data Sources
Include sources (as links) to your datasets. Add any additional data sources if needed. Clearly indicate if a data source is different from one submitted in your Phase I, as we will check that it satisfies the requirements.
*   Downloaded Dataset Source: https://dph.georgia.gov/covid-19-daily-status-report
*   Web Collection #1 Source: http://www.usa.com/rank/georgia-state--population-density--county-rank.htm
*   Web Collection #2 Source: https://opendata.atlantaregional.com/datasets/income-by-georgia-senate-2017/api

## Downloaded Dataset Requirement

Fill in the predefined functions with your data scraping/parsing code. You may modify/rename each function as you seem fit, but you must provide at least 3 separate functions that clean each of your required datasets.

In [20]:
def data_parser():
    import pandas as pd  #Pandas module

    df = pd.read_csv('county_cases.csv') #Successfully accessing downloaded dataset
    df = df.loc[~((df['county_name'] == 'Non-GA Resident/Unknown State') | (df['county_name'] == 'Unknown'))] #Cleaning received data from inconsistency 1 (refer to bottom of the page)
    df['Cases per 1000'] = df["population"] / df['cases'] #Adding an additional feature of Cases per 1000 derived from the population & cases into a new column of aggregrated data
    df.to_csv('dataset1.csv', index=False) #Exporting cleaned data to a new file that will show the Jupyter output given below
    
    return df



############ Function Call ############
data_parser()

,county_name,cases,county_id,State FIPS code,County FIPS code,population,hospitalization,deaths,case rate,death rate,14 day case rate,14 day cases,antigen_cases,probable_deaths,Cases per 1000
0,Appling,1947,US-13001,13,1,18561,190,67,10489.74,360.97,53.88,10,397,5,9.533128
1,Atkinson,811,US-13003,13,3,8330,129,20,9735.89,240.10,96.04,8,254,3,10.271270
2,Bacon,1306,US-13005,13,5,11404,93,29,11452.12,254.30,70.15,8,367,11,8.732006
3,Baker,170,US-13007,13,7,3116,38,10,5455.71,320.92,192.55,6,76,0,18.329412
4,Baldwin,3904,US-13009,13,9,44428,330,119,8787.25,267.85,40.51,18,697,17,11.380123
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,Whitfield,15044,US-13313,13,313,104672,798,232,14372.52,221.64,39.17,41,2011,17,6.957724
157,Wilcox,486,US-13315,13,315,8790,75,30,5529.01,341.30,22.75,2,355,18,18.086420
158,Wilkes,698,US-13317,13,317,10014,78,23,6970.24,229.68,19.97,2,418,7,14.346705
159,Wilkinson,741,US-13319,13,319,8919,123,27,8308.11,302.72,0.00,0,201,0,12.036437
160,Worth,1206,US-13321,13,321,20142,181,62,5987.49,307.81,14.89,3,603,7,16.701493

## Web Collection Requirement \#1

In [14]:
def web_parser1():
    import requests                      #Modules used: Requests, Beautiful Soup, Pandas
    from bs4 import BeautifulSoup
    import pandas as pd

    response = requests.get('http://www.usa.com/rank/georgia-state--population-density--county-rank.htm') #Successfully collected data from the web
    
    soup = BeautifulSoup(response.text)
    all_rows = soup.findChildren(['tr'])
    
    rows = all_rows[2:]
    
    population_df = pd.DataFrame(columns=['Population Density', 'county_name', 'Population'])
    
    for row in rows:                                    #Parsing & Cleaning received data
        cols = row.findChildren(['td'])
        population_density = float(cols[1].text.split('/')[0].replace(',', ''))        
        county, population = [x.strip() for x in cols[2].text.split('/')]
        county = county.split(',')[0].strip()
        population = int(population.replace(',', ''))
        population_df.loc[len(population_df.index)] = [population_density, county, population]

    population_df.to_csv('dataset2.csv', index=False) #Exporting cleaned data to a new file that will show the Jupyter output given below
    return population_df

############ Function Call ############
web_parser1()

     Population Density county_name Population
0                2608.2      Dekalb     707185
1                2057.7        Cobb     708920
2                1928.0    Gwinnett     842091
3                1830.7     Clayton     264221
4                1809.9      Fulton     967100
..                  ...         ...        ...
154                12.7     Stewart       5900
155                 9.6       Baker       3342
156                 9.6      Echols       4018
157                 8.7  Taliaferro       1700
158                 8.2      Clinch       6777

[159 rows x 3 columns]

## Web Collection Requirement \#2

In [1]:
def web_parser2():
    import requests             #Modules used: Requests, Pandas
    import pandas as pd

    response = requests.get('https://services1.arcgis.com/Ug5xGQbHsD8zuZzM/ArcGIS/rest/services/Opendata2/FeatureServer/148/query?where=1%3D1&outFields=*&outSR=4326&f=json')
    json_res = response.json() #Successfully collected data from the web ^
    
#     print (json_res['fields'])  
    df = pd.DataFrame(json_res['fields'])
    df = df.drop(columns=['domain', 'defaultValue']) #Cleaning received data from inconsistency 2 & 3 (refer to bottom of the page)
    df = df.fillna(0) #Cleaning received data from inconsistency 4 (refer to bottom of the page)
    df.to_csv('dataset3.csv', index=False) #Exporting cleaned data to a new file that will show the Jupyter output given below
    return df

############ Function Call ############
web_parser2()

,name,type,alias,sqlType,length
0,OBJECTID,esriFieldTypeOID,OBJECTID,sqlTypeOther,0.0
1,GEOID,esriFieldTypeString,Geographic ID for geographic unit,sqlTypeOther,11.0
2,PLNG_REGIO,esriFieldTypeString,ARC Modeling Area,sqlTypeOther,8.0
3,PlanningRegion,esriFieldTypeString,Planning Region,sqlTypeOther,50.0
4,LogRecNo,esriFieldTypeInteger,Logical record number,sqlTypeOther,0.0
...,...,...,...,...,...
106,last_edited_date,esriFieldTypeDate,last_edited_date,sqlTypeOther,8.0
107,mMedHHInc_e,esriFieldTypeInteger,"Median household income, 2017",sqlTypeOther,0.0
108,mMedHHInc_m,esriFieldTypeInteger,"Median household income, 2017 (MOE)",sqlTypeOther,0.0
109,Shape__Area,esriFieldTypeDouble,Shape__Area,sqlTypeDouble,0.0
110,Shape__Length,esriFieldTypeDouble,Shape__Length,sqlTypeDouble,0.0

## Additional Dataset Parsing/Cleaning Functions

Write any supplemental (optional) functions here.

In [33]:
def extra_source1():
    import pandas as pd       #Modules: Pandas
    df1 = data_parser()       #Parsing data
    df2 = web_parser1()
    df2 = df2.sort_values(by = ['county_name']).reset_index(drop=True)
    
    df = df1
    df = df.merge(df2, how='left', on='county_name')  #Combining datasets together
    df['average population'] = (df['population'] + df['Population'])/2  #Solving Inconsitency 5 (refer to bottom of the page)
    df.to_csv('combined.csv', index=False) #Exporting cleaned & combined data to a new file that will show the Jupyter output given below
    return df

    
############ Function Call ############
extra_source1()

,county_name,cases,county_id,State FIPS code,County FIPS code,population,hospitalization,deaths,case rate,death rate,14 day case rate,14 day cases,antigen_cases,probable_deaths,Cases per 1000,Population Density,Population,average population
0,Appling,1947,US-13001,13,1,18561,190,67,10489.74,360.97,53.88,10,397,5,9.533128,36.0,18421,18491.0
1,Atkinson,811,US-13003,13,3,8330,129,20,9735.89,240.10,96.04,8,254,3,10.271270,24.1,8297,8313.5
2,Bacon,1306,US-13005,13,5,11404,93,29,11452.12,254.30,70.15,8,367,11,8.732006,39.2,11196,11300.0
3,Baker,170,US-13007,13,7,3116,38,10,5455.71,320.92,192.55,6,76,0,18.329412,9.6,3342,3229.0
4,Baldwin,3904,US-13009,13,9,44428,330,119,8787.25,267.85,40.51,18,697,17,11.380123,171.5,45854,45141.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,Whitfield,15044,US-13313,13,313,104672,798,232,14372.52,221.64,39.17,41,2011,17,6.957724,354.3,103132,103902.0
155,Wilcox,486,US-13315,13,315,8790,75,30,5529.01,341.30,22.75,2,355,18,18.086420,23.7,9061,8925.5
156,Wilkes,698,US-13317,13,317,10014,78,23,6970.24,229.68,19.97,2,418,7,14.346705,21.4,10123,10068.5
157,Wilkinson,741,US-13319,13,319,8919,123,27,8308.11,302.72,0.00,0,201,0,12.036437,20.9,9455,9187.0
158,Worth,1206,US-13321,13,321,20142,181,62,5987.49,307.81,14.89,3,603,7,16.701493,37.2,21365,20753.5

# Above function is to solve inconsistency 5 mentioned below

#Inconsistencies
For each inconsistency (NaN, null, duplicate values, empty strings, etc.) you discover in your datasets, write at least 2 sentences stating the significance, how you identified it, and how you handled it.

1. Removing rows in the downloaded dataset that had county_name column values of "unknown" or "non-GA resident". They were removed by only selecting all the rows which did not have their county_name as Unknown or Non-GA Resident/Unknown State. Removing these rows ensured we have data only of counties in GA.

2. Dropped domain column in Web Collection Requirement 2 (API) because all the values are None. Found this by doing df.count(), then used df.drop to drop this column.

3. Dropped defaultValue column in Web Collection Requirement 2 (API) because all the values are None. Found this by doing df.count(), then used df.drop to drop this column

4. In Web Collection Requirement 2, replaced NaN with zero in the length column using df.fillna() function.

5. Population values in the downloaded dataset were different than the population values in Web Collection Requirement 1 for the same counties, hence I made a function to combine the data by taking the average of the two population values.